<app-card title="SR & ED Projections" view="Recalculate Projections">
    <div class="update">
    <div class="Confidential-financials">
        <mat-form-field>
            <mat-label>Confidential Financials Admin Panel</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
      <div> <b>Last Update At:</b> 2024-12-07 <br />
        <b>Last Update Status:</b> Completed </div>
    </div>
    
    <app-sred-projections></app-sred-projections>
</app-card>


<app-card titleIcon="dvr" title="Total Staff Included in Claim" icon="more_vert">
    <app-total-staff></app-total-staff>
</app-card>