@defer {
<div class="tabs" *ngIf="selectiveProject.tabs">   
        <div *ngFor="let item of selectiveProject.quater; let isLast = last" [ngClass]="{'active': isLast}">
        <div>{{item.hours?item.hours + ' hours': '$' + item.amount}}<br>
            <small>{{item.start_Date}} / {{item.end_Date}}</small><br>
            {{item.quarter}}
        </div>
        </div>
</div>

<!-- Summary Section -->
<div class="summary">
    <div class="current-year">{{selectiveProject.hours_status?selectiveProject.current_year +' hours':' $'+ selectiveProject.current_year}}<br>
        <h3>Current Year to Date SR&ED</h3>
    </div>

    <div class="full-year"><mat-icon> show_chart</mat-icon> {{selectiveProject.hours_status?selectiveProject.full_year +' hours':' $'+ selectiveProject.full_year}}<br>
        <h3>Full Year SR&ED (Projected)</h3>
        </div>
</div>

<!-- Projects Section -->
<div class="projects" *ngIf="selectiveProject.show_projects">
    <div class="projects-title">SR&ED Projects</div>
    <div class="project-bar">
        <div *ngFor="let item of selectiveProject.projects" class="project {{item.class_name}}">
            {{item.name_status}}<br />
            {{item.hours?item.hours + ' hours':' $'+item.amount}}
        </div>
    </div>
</div>
} @loading {
    Loading...
  } 
