<app-dashboard-header></app-dashboard-header>
<app-card title="Overall Hours" icon="more_vert">
  <app-overall-hours></app-overall-hours>
</app-card>
<app-card title="Timesheet Summary" icon="more_vert">
  <app-timesheet-summary></app-timesheet-summary>
</app-card>
<app-card title="Project Hours" icon="more_vert">
  <app-project-hours></app-project-hours>
</app-card>
<app-card title="Employee's Summary" icon="more_vert" view="View All">
<app-employee-summary></app-employee-summary>
</app-card>
<app-card title="SR & ED Summary" icon="more_vert" view="View All">
  <app-sr-ed-summary></app-sr-ed-summary>
</app-card>
