
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$dashboard-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($dashboard-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($dashboard-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($dashboard-theme);
/* You can add global styles to this file, and also import other style files */



:root {
  --primary-color: #03BCF3;
  --lightblue-color:#F6FBFF;
  --cerulean-blue-200:#C9F3FF;
  --cerulean-blue-100:#D9EDFF;
  --Neutral-900:#2A2A2A;
  --Neutral-800:#454545;
  --Neutral-700:#4F4F4F;
  --Neutral-600: #5D5D5D;
  --Neutral-500: #737373;
  --Neutral-200: #D1D1D1;
  --Neutral-100: #E7E7E7;
  --Neutral-50: #F6F6F6;
  --Medium-Grey: #949494;
  --charcoal-black:#292929;
  --secondary-color: #6C757D;
  --accent-color: #17A2B8;
  --green-800: #53AF57;
  --green-100:#E9F8EE;
  --red-900:#B14040;
  --red-800: #EA3030;
  --red-100:#F8E9E9;
  --white-background-200: #E3E3E3;
  --white-background-100:#FBFBFB;
  --white-background: #FFFFFF;
  --font-family:  "Plus Jakarta Sans", sans-serif;
  --font-size: .9rem;
  --font-size-large: 1.5rem;
  --font-size-small: .7rem;
}

html, body { height: 100%; }
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--secondary-color);
  margin: 0;
}

// slide toggle
.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: var(--white-background);
}
.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: var( --primary-color) !important;
}
.mdc-switch__handle::before, .mdc-switch__handle::after{
  background: var(--white-background) !important;
}
.mdc-switch__track::before, .mdc-switch__track::after{
  border-color:var(--white-background) !important;
}

// mat-field
.mat-mdc-notch-piece {
  border-color: var(--Neutral-200) !important;
}
.mdc-floating-label{
  color: var(--Medium-Grey) !important;
}
.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 8px !important;
}



//badge
.mat-badge-content{
  background-color: var(--red-800) !important;
  color: var(--white-background) !important;
  border-radius: 2px !important;
}




