<mat-dialog-content>
    <div class="dialog">
        <div>{{data.title}}</div>
        <div>
            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color"
                (change)="selectiveData(group.value)" #group="matButtonToggleGroup" [value]="selectedDefualtValue">
                <mat-button-toggle value="show_hours">Show Hours</mat-button-toggle>
                <mat-button-toggle value="show_expenditures">Show Expenditures</mat-button-toggle>
                <mat-button-toggle value="show_credits">Show Credits</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="flex-space-between">
        <p>Date Range: Jan 1, Dec 31, 2021<br>
            Province: ON</p>
        <p>Hire Date: Jan 1, 2021<br> End Date: -</p>
    </div>
    <h4>SR&ED Projects</h4>
    <app-sred-projections></app-sred-projections>
    <div>
        <p>SR&ED Hours: 133</p>
        <p>Total Hours: 2000</p>
    </div>
    <h3>SR&ED Allocation: 1.663%</h3>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!-- <button mat-button (click)="close()">Close</button> -->
    <button mat-raised-button color="primary" (click)="dialogRef.close('confirmed')">Ok</button>
</mat-dialog-actions>